<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 上网权限获取网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读写SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

<!--    Android 13版本适配，细化存储权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>

    <application
        android:name=".LYApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_icon2"
        android:label="结婚吧"
        android:roundIcon="@mipmap/launcher_icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        tools:replace="android:label">

        <!--<activity
            android:name="com.xly.index.SplashActivity"
            android:exported="true"
            android:theme="@style/StartFullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".index.SplashActivity"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/StartFullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.xly.index.LYMainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.xly.business.square.view.MomentImageDetailActivity"
            android:theme="@style/TransparentTheme"
            android:exported="false">
        </activity>

        <activity
            android:name="com.xly.business.login.view.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.xly.business.vip.view.LookStarMeActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.jspp.activity.HomeActivity"
            android:exported="true">
        </activity>



        <activity
            android:name="com.jspp.activity.UserDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.jspp.activity.TestUserDetailActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.jspp.activity.TestBottomSheetActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.jspp.activity.TestFloatingCardActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.xly.base.LYWebViewActivity"
            android:exported="true"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.xly.business.login.view.PhoneLoginActivity" />
        <activity android:name="com.xly.business.login.view.CodeLoginActivity" />
        <activity android:name="com.xly.business.login.view.UserInfoActivity" />
        <activity android:name="com.xly.business.user.view.BubbleChooseActivity" />


    </application>

</manifest>